# env
IA/env/
Maths/env/
Maths3D/env/
Qualite/env/
Multimedia/env/

# cache Python
__pycache__/

# Fichiers lourds 
IA/TP5/animals/
IA/TP5/animals_small/
IA/TP6/fashion_mnist_data.csv
Qualite/texte.txt

# Projets gitlab
Automatisation/
Tienda/
